@import "tailwindcss" theme(static);

@source "../views/";
@source "../../app/";

@import "../css/variables.scss";

@import '../css/blocks/hero.scss';
@import '../css/blocks/hero-offer.scss';
@import '../css/blocks/text-image.scss';
@import '../css/blocks/area-block.scss';
@import '../css/blocks/cases.scss';
@import '../css/blocks/numbers.scss';
@import '../css/blocks/history.scss';
@import '../css/blocks/accordion.scss';
@import '../css/blocks/cases-slider.scss';
@import '../css/blocks/contact.scss';

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
