.accordion {
  /*Section used for centering process*/
  input.acc-check {
    position: absolute !important;
    opacity: 0 !important;
    z-index: -1 !important;
  }
  .accordion-wrapper {
    /*     padding-bottom: 15px;
    margin-bottom: 15px; */
  }
  .accordion-wrapper:last-child {
    border-bottom: none;
  }
  .accordion {
    width: 100%;
    overflow: hidden;
    margin-bottom: 16px !important;
    border: 1px solid var(--border);
  }
  .accordion-label {
    padding: 16px 0;
    margin-bottom: 0px !important;
    cursor: pointer;
    color: var(--body);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .accordion-label:hover {
  }
  .accordion-label::after {
    content: url('http://raab.local/wp-content/uploads/2025/06/plus.svg');
    text-align: right;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    float: right;
    transform: scale(0.9);
    height: 24px;
    width: 24px;
    border-radius: 2px;
    background-color: var(--primary);
  }
  .accordion-content {
    max-height: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding: 0 24px;
	strong {
		display: block;
		padding-top:24px;
		padding-bottom:8px;
	}
  }
  .accordion-content p {
    margin: 0;
    color: var(--body);
    font-size: 16px;
  }
  .accordion-content ul {
    list-style-type: disc;
    padding-left: 16px;
  }
  input:checked {
    border: 1px solid var(--primary);
  }
  input:checked + .accordion-label::after {
    content: url('http://raab.local/wp-content/uploads/2025/06/minus.svg');
  }
  .accordion:has(input:checked) {
    padding-bottom: 24px;
  }
  input:checked ~ .accordion-content {
    max-height: 1200px;
    padding: 8px 24px 20px 0px;
  }
}