.hero {
  .__arrow {
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    outline: 16px solid var(--bg);
  }

  .__arrow:hover {
    background-color: var(--bg-yellow-hover);
  }

  .__arrow:focus {
    background-color: var(--shade);
  }
}
