.text-image {
  ul {
    list-style: disc;
    margin-left: 20px;
  }
  b, strong{
	margin-top:16px;
	display: block;
  }
}

/*--- MAP ---*/

.text-image.map {

  h5 {
    color: var(--yellow);
    margin: 16px 0;

    &:first-child {
      color: var(--yellow);
      margin-top: 0;
    }
  }

  img {
    object-fit: contain;
  }
}
